services:
  backend:
    build: ./backend
    ports:
      - "6969:6969"
    depends_on:
      - postgres

  postgres:
    image: postgres:18
    environment:
      POSTGRES_USER: rgsn
      POSTGRES_PASSWORD: rgsn
      POSTGRES_DB: rgsn-db
    volumes:
      - girlynetwork:/var/lib/postgresql

  frontend:
    build: ./frontend
    ports:
      - "80:80"
    depends_on:
      - backend

volumes:
  girlynetwork:
