name: CI/CD pipeline
on:
  push:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Deploy to VPS
        uses: appleboy/ssh-action@v0.1.7
        with:
          host: ${{secrets.SERVER_HOST}}
          username: ${{secrets.SERVER_USERNAME}}
          key: ${{secrets.SERVER_KEY}}
          script: |
            export DATABASE_URL=${{secrets.DATABASE_URL}}
            cd /home/ReactGirlySocialNetwork
            docker-compose build --no-cache
            docker compose up -d
